<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Blogs</title>
  <link href="https://fonts.googleapis.com/css?family=Didact Gothic" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body class="index-bg">
  <div class="content">
    <header>
      <div>
        <img src="assets/kflogo.png" alt="logo" class="logo" />
        <a href="/">Konfinity Blogs</a>
      </div>
      <nav>
        <a href="#" class="hide-desktop">
          <i class="fas fa-bars" id="menu"></i>
        </a>
        <ul class="show-desktop hide-mobile" id="nav">
          <li id="exit" class="exit-btn hide-desktop">
            <button><i class="far fa-times-circle"></i></button>
          </li>
          <li><a href="/">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </nav>
    </header>
    <div>
      <div class="empty-container">
        <form class="main-container" method="POST" action="/createBlog">
          <div class="heading">Add a blog</div>
          <div>
            <input placeholder="Blog Heading" type="text" name="blog_heading" />
          </div>
          <div>
            <textarea rows="10" placeholder="Blog Content" type="text" name="blog"></textarea>
          </div>
          <div>
            <button type="submit" value="Submit" class="form-btn2">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%-include("footer.ejs")%>
  <script>
    var menu = document.getElementById("menu");
    var nav = document.getElementById("nav");
    var exit = document.getElementById("exit");
    menu.addEventListener("click", e => {
      nav.classList.toggle("hide-mobile");
      e.preventDefault();
    });
    exit.addEventListener("click", e => {
      nav.classList.toggle("hide-mobile");
      e.preventDefault();
    });
  </script>
</body>

</html>