<footer>
    Developed with <i class="fas fa-heart"></i> at
    <a href="https://www.konfinity.com/" target="_blank">Konfinity</a> by
    <a href="https://www.linkedin.com/in/ritesh-raj-26oct/" target="_blank">Ritesh</a>
</footer>